/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-16-19-56-15-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-16-19-52-55-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-55-35-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-55-20-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-52-15-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-48-55-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-45-35-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-42-15-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-38-55-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-35-35-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-32-15-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-28-55-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-25-35-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-23-54-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/2011-3-11-23-22-15-PlaceClock.jpg
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/application.windows
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/application.macosx
/Users/AKA/Documents/AKA PROJECT DOCUMENTATION/2011 interactive storefront/PlaceClock_installation_version/application.linux